---
layout: default
title: Home
---

<!-- Featured Posts
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured Resources</span></h2>
    </div>
    <div class="row">
        {% for post in site.posts %}
            {% if post.featured == true %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <img class="card-img-top" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title"><a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                            <p class="card-text">{{ post.excerpt | strip_html | truncatewords:20 }}</p>
                            <div class="metafooter">
                                <div class="wrapfooter small">
                                    <span class="post-date">{{ post.date | date_to_string }}</span>
                                    <span class="post-categories">
                                        {% for category in post.categories limit:1 %}
                                        <a class="badge badge-primary" href="{{ site.baseurl }}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% if post.featured != true %}
            {% include postbox.html %}
        {% endif %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
